.cat-ns-head {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0 0 5px 0;
}

.cat-ns-head h1 {
    text-transform: capitalize;
    color: var(--main-default-color);
}

.cat-ns-head span:hover {
    color: var(--main-default-color)
}

.cat-ns-list {
    width: 100%;
    height: 100%;
    display: flex;
}

.cat-ns-box {
    width: 20%;
    height: 100%;
    padding: 20px;
}

.cat-ns-box:hover {
    color: var(--main-default-color)
}

.cat-ns-img {
    text-align: center;
    overflow: hidden;
    height: 100px;
}

.cat-ns-img img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.cat-ns-img img.rotating {
    /* -webkit-animation: infiniterotation 10s linear infinite;
    -moz-animation: infiniterotation 10s linear infinite;
    -ms-animation: infiniterotation 10s linear infinite;
    -o-animation: infiniterotation 10s linear infinite;
    animation: infiniterotation 10s linear infinite; */
    width: 100px !important;
    height: 40px;
}

.cat-ns-title {
    margin: 15px 0;
}

.cat-ns-title:hover {
    color: var(--main-default-color);
}

@-webkit-keyframes infiniterotation
/* Safari and Chrome */

    {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes infiniterotation {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}