.news-img-box{

}

.news-img-box-link{

}

.title-box{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.title-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-in-out;
}
.title-box:hover img{
    transform: scale(1.09);
}

.title-box .txt-over-img{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
    color: #ffffff;
}

.black-box{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.452);
    z-index: 1;
}

.title-box .txt-over-img{
    padding: 5px 10px;
}
.title-box .txt-over-img h3{
    font-size: 16px;
    margin-bottom: 5px;
}
.title-box .txt-over-img span{
    font-size: 12px;
}

