.newsbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0px 1px 1px rgb(190, 190, 190);
    margin: 2% 0;
    padding: 10px;
}

.newsbox:hover .news-title h3{
    color:var(--main-default-color)
}

.newsbox-img {
    flex-basis: 2;
    width: 180px;
    height: 120px;
    overflow: hidden;
}

.newsbox-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-content {
    flex: 1;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.news-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.news-title span{
    margin-bottom: 10px;
}
.news-title h3{
    letter-spacing: 1px;
}

.news-desc {}

.news-keywords {}