
nav{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 1%;
    line-height: 60px;
    background-color: aqua;
}

nav ul li{
    display: inline-flex;
    padding: 20px 10px;
    /* margin: 0 10%; */
    text-transform: uppercase;
}