.footer {
    /* position: absolute; */
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    padding: 5%;
    width: 100%;
    background-color: #000000;
}

.footer .footer-about {
    flex-grow: 1;
    min-width: 400px;
}

.footer .footer-about hr {
    width: 10%;
    height: 5px;
    background-color: var(--main-default-color);
}

.footer .footer-about p, .footer .footer-cat ul {
    margin-top: 3%;
}

.footer .footer-cat {
    flex-grow: 1;
    text-transform: uppercase;
}

.footer .footer-cat h3 {}

.footer .footer-cat ul li {
    color: #bbbaba;
    margin: 1% 0;
}

.footer .footer-cat ul li:hover {
    color: var(--main-default-color)
}