* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    font-family: 'Encode Sans Expanded', sans-serif;
}

html {
    font-size: 16px;
    /* letter-spacing: 1px; */
    color: var(--light-text-color);
    scroll-behavior: smooth;
}

:root {
    --light-text-color: #131313;
    --dark-text-color: #ffffff;
    --main-default-color: #0077B9;
}

#root {
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.1rem;
}

h4 {
    font-size: 0.95rem;
}

hr {
    outline: none;
    border: none;
    height: 4px;
    background-color: var(--light-text-color);
}

button {
    border: unset;
    outline: unset;
}

.main-container {
    margin: 7% 5%;
    min-height: 100vh;
}